* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(7, 77, 7);
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

h1 {
    margin: 0;
}

.container {
    padding: 20px 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.col-3 {
    width: 15%;
    margin: 5px
}

.mx-auto {
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.mb-3 {
    margin-bottom: 3rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    perspective: 1500px;
    justify-content: center;
}

.size-card {
    height: 200px;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .8s;
}

.back-card {
    position: absolute;
    display: inline-block;
    height: 100%;
    padding: 60px 30px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    width: 100%;
    border-radius: 10px;
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
    z-index: 2;
    transition: z-index ease-in-out .3s;
}

.fs-1 {
    position: absolute;
    top: 0;
    font-size: 60px;
    padding: 50px 20px;
    width: 100%;
    text-align: center;
    background: burlywood;
    border-radius: 10px;
    height: 100%;
    z-index: 1;
    transform: rotateY(180deg);
    transition: z-index ease-in-out .3s;
}

.size-card:active {
    transform: scale(0.97);
    transition: transform .3s;
}

.size-card.flip {
    transform: rotateY(180deg);
}

.size-card.flip .back-card {
    transition: z-index ease-in-out .3s;
    z-index: 1;
}

.size-card.flip .fs-1 {
    transition: z-index ease-in-out .3s;
    z-index: 2;
}